

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.Main
{
    background-color: #F5F8FA;
    font-family: 'Roboto', sans-serif;
}

.Header
{
    border-bottom-style: solid;
    border-width: 3px;
    border-color: #E0E6EA;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;

}

.MainBody
{
   
    padding-top: 70px;
    padding-bottom: 100px;
    padding-left: 250px;
    padding-right: 250px;
    display: grid;
    grid-template-columns: 650px 1fr;
    justify-items: center;  
   
   
}
.LeftArticle
{
    width: 650px;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   
}
.RightArticle
{
    width: 100%;
    background-color:#1179BF;
    padding-left: 25px;
    padding-right: 10px;
    padding-top: 20px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.Logo
{
    width: 1000px;
    height: 500000px;
}

.HeaderContent
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.MenuList
{
    display: flex;
    flex-direction: row;
    /* width: 500px; */
}
.ListDet
{
    padding: 10px;
    font-weight: 700;
}

.ListDet:hover
{
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: #646E7A;
   transition: border-color 0.5s ease-in;
}


.CheckOut
{
    font-size: 30px;
    line-height: 36px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    color:#1D2C3C;
    padding-left: 30px;
    
}
.LeftArticle_Div1
{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom-style: solid;
    margin-left: -30px;
    border-width: 2px;
    border-color: #F5F7FA;
    margin-bottom: 20px;

    
}
.LeftArticle_Div2
{
    margin-bottom: 30px;
}
.LeftArticle_Div3
{
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom-style: solid;
    margin-left: -30px;
    border-width: 2px;
    border-color: #F5F7FA;
    margin-bottom: 20px;
}
.LeftArticle_Div4
{
    padding-bottom: 30px;
}

.Two
{
    padding-left: 30px;
}
.BuyWP
{
    background-color: #038E7D;
    height: 52px;
    width: 483px;
    border-radius: 10px;
    color: white;
    border: none; 
}

.One
{
    height: 30px;
}
.BasicInfo
{
    display: inline;
    font-weight: 700;
    line-height: 30px;
    vertical-align:top;
   
}
.Names
{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.FirstName,.LastName
{
    display: flex;
    flex-direction: column;
    width: 227px;
}

input::placeholder
{
    background-color: #EDEFF2;
}

.Email
{
    display: flex;
    flex-direction: column;
    width: 370px;

}

label
{
    margin-bottom: 10px;
    font-size: 14px;
}

input
{
    height: 36px;
    background-color: #EDEFF2;
    border: none; 
    border-radius: 5px;
    padding-left: 15px;
}
input:focus {
    outline: none;
}


.PaymentInfo
{
    display: inline;
    font-weight: 700;
    line-height: 30px;
    vertical-align:top;
}

.PaymentInfoDet
{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}
.CardDetails
{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.CardNumber
{
    border-right: none;
    border-right-color: #f3f5f7;
}

.MMYY
{
    border-left: none;
    border-right: none;
    border-right-color: #f3f5f7;
    border-left-color: #f3f5f7;
    margin-left: 0px;
    margin-left: -15px;
}

.CVC
{
    border-left: none;
    border-left-color: #f3f5f7;
    margin-left: -15px;
}
.Help
{
    margin-top: 20px;
    display: flex;
    justify-items: center;  
    padding-left: 50px;
    padding-right: 50px;
    gap: 10px;
    
}
.Stripe
{
    margin-top: 20px;
    justify-items: center;  
    padding-left: 200px;
    padding-right:200px;
}
.Freelancer
{
    font-size: 20px;
    color: white;
}
.Price
{
    margin-top: 15px;
    color: white;
    display: flex;
}
.PriceSign
{
    vertical-align: super;
}
.PriceAmount
{
    font-size: 55px;
    vertical-align: bottom;
}
.PriceLength
{
    /* vertical-align: super; */
    padding-top: 40px;
    vertical-align: bottom;
}
.Renewal
{
    margin-top: 15px;
    font-style: italic;
    width: 150px;
}
.Points
{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.DetailPoints
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.Info
{
    vertical-align:top;
}
.Clients
{
    margin-top: 25px;
}
.Switch
{
    margin-top: 10px;
}
.Remarks
{
    margin-top: 25px;
    line-height: 25px;
    font-size: 18px;
    width: 229px;
}
.RemarkBy
{
    margin-top: 15px;
    display: flex;
    gap: 10px;
    align-items: center; 
}

.RemarkBy img {
    /* width: 40px;
    height: 40px; */
    border-radius: 50%; 
}

.RemarkName {
    margin: 0; 
}

.BottomBar
{
    margin-top: -50px;
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
}
.copyright
{
    border-radius: 50%;
    border: 2px solid; 
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 30px;
}
